header h1{
    text-transform: uppercase;
    background-color: #4f5553;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    border-radius: .3rem;
    margin-top: .9rem;
}
